@charset "UTF-8";
/* CSS3 calc() function to perform calculations */
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.uppercase {
  text-transform: uppercase; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

html {
  font-size: 1em;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased; }

body {
  background-size: 100%;
  font-family: "MyriadPro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #555555;
  background-color: #FFFFFF;
  overflow-x: hidden;
  margin: 0; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #5bc0de;
  text-decoration: none; }
  a:hover, a:focus {
    color: #28a1c5;
    text-decoration: none; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

figure {
  margin: 0; }

hr {
  margin-top: 22px;
  margin-bottom: 22px;
  border: 0;
  border-top: 1px solid #EAEAEA; }

@font-face {
  font-family: 'Libel-Suit';
  src: url("./static/fonts/libel-suit-rg.eot") format("embedded-opentype"), url("./static/fonts/LibelSuitRg-Regular.woff") format("woff"), url("./static/fonts/LibelSuitRg-Regular.ttf") format("truetype"), url("./static/fonts/LibelSuitRg-Regular.svg#LibelSuitRg-Regular") format("svg");
  font-weight: 300;
  font-style: normal; }

.icon-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.icon-2x {
  font-size: 2em; }

.icon-3x {
  font-size: 3em; }

.icon-4x {
  font-size: 4em; }

.icon-5x {
  font-size: 5em; }

[class^="icon-"], [class*=" icon-"] {
  font-family: "icon-family";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chat:before {
  content: "\e617"; }

.icon-antena:before {
  content: "\e601"; }

.icon-arrow-down:before {
  content: "\e602"; }

.icon-arrow-left:before {
  content: "\e603"; }

.icon-arrow-right:before {
  content: "\e604"; }

.icon-arrow-up:before {
  content: "\e605"; }

.icon-check:before {
  content: "\e606"; }

.icon-clip:before {
  content: "\e607"; }

.icon-clock:before {
  content: "\e608"; }

.icon-close-alt:before {
  content: "\e609"; }

.icon-close:before {
  content: "\e60a"; }

.icon-cog:before {
  content: "\e60b"; }

.icon-edit:before {
  content: "\e60c"; }

.icon-ellipsis:before {
  content: "\e60d"; }

.icon-envelope:before {
  content: "\e60e"; }

.icon-glass:before {
  content: "\e60f"; }

.icon-link:before {
  content: "\e610"; }

.icon-pencil:before {
  content: "\e611"; }

.icon-question:before {
  content: "\e612"; }

.icon-tag:before {
  content: "\e613"; }

.icon-thumbs-down:before {
  content: "\e614"; }

.icon-thumbs-up:before {
  content: "\e615"; }

.icon-two:before {
  content: "\e616"; }

.icon-person:before {
  content: "\e600"; }

h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: "MyriadPro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
  text-rendering: optimizeLegibility; }
  h1 small,
  h1 .small, h2 small,
  h2 .small, h3 small,
  h3 .small, h4 small,
  h4 .small, h5 small,
  h5 .small, h6 small,
  h6 .small,
  .alpha small,
  .alpha .small, .beta small,
  .beta .small, .gamma small,
  .gamma .small, .delta small,
  .delta .small, .epsilon small,
  .epsilon .small, .zeta small,
  .zeta .small {
    font-weight: normal;
    line-height: 1; }

h1, .alpha,
h2, .beta,
h3, .gamma {
  margin-top: 22px;
  margin-bottom: 22px;
  line-height: 1.33; }
  h1 small,
  h1 .small, .alpha small,
  .alpha .small,
  h2 small,
  h2 .small, .beta small,
  .beta .small,
  h3 small,
  h3 .small, .gamma small,
  .gamma .small {
    font-size: 65%; }

h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin-top: 11px;
  margin-bottom: 11px;
  line-height: 1.6; }
  h4 small,
  h4 .small, .delta small,
  .delta .small,
  h5 small,
  h5 .small, .epsilon small,
  .epsilon .small,
  h6 small,
  h6 .small, .zeta small,
  .zeta .small {
    font-size: 75%; }

h1, .alpha {
  font-size: 47px;
  font-size: 2.9375rem; }

h2, .beta {
  font-size: 30px;
  font-size: 1.875rem; }

h3, .gamma {
  font-size: 29px;
  font-size: 1.8125rem; }

h4, .delta {
  font-size: 24px;
  font-size: 1.5rem; }

h5, .epsilon {
  font-size: 18px;
  font-size: 1.125rem; }

h6, .zeta {
  font-size: 16px;
  font-size: 1rem; }

p {
  margin: 0 0 22px; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  padding: 0 11px; }
  @media only screen and (min-width: 620px) {
    .container {
      padding: 0 22px; } }
  .container--large {
    max-width: 1275px; }
  .container--largest {
    max-width: 1220px; }
  .container--max {
    max-width: 1290px; }

.container--small {
  max-width: 780px; }

/*------------------------------------*    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either `push--` or `pull--`, for
 * example:
 *
   `class="grid__item  one-half  push--one-half"`
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
 *
   `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
 *
   `class="grid__item  palm--one-third  desk--five-twelfths"`
 */
/*------------------------------------*    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
/**
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
/*------------------------------------*    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */
/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
/*------------------------------------*    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
.grid {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -22px;
  /* [3] */ }

/**
     * 1. Cause columns to stack side-by-side.
     * 2. Space columns apart.
     * 3. Align columns to the tops of each other.
     * 4. Full-width unless told to behave otherwise.
     * 5. Required to combine fluid widths and fixed gutters.
     */
.grid__item {
  display: inline-block;
  /* [1] */
  padding-left: 22px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  -webkit-box-sizing: border-box;
  /* [5] */
  -moz-box-sizing: border-box;
  /* [5] */
  box-sizing: border-box;
  /* [5] */ }

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `.grid`.
 */
.grid--rev {
  direction: rtl;
  text-align: left; }
  .grid--rev > .grid__item {
    direction: ltr;
    text-align: left; }

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.grid`.
 */
.grid--full {
  margin-left: 0; }
  .grid--full > .grid__item {
    padding-left: 0; }

/**
 * Align the entire grid to the right. Extends `.grid`.
 */
.grid--right {
  text-align: right; }
  .grid--right > .grid__item {
    text-align: left; }

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `.grid`.
 */
.grid--center {
  text-align: center; }
  .grid--center > .grid__item {
    text-align: left; }

/**
 * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
 * `.grid`.
 */
.grid--middle > .grid__item {
  vertical-align: middle; }

.grid--bottom > .grid__item {
  vertical-align: bottom; }

/**
 * Create grids with narrower gutters. Extends `.grid`.
 */
.grid--narrow {
  margin-left: -11px; }
  .grid--narrow > .grid__item {
    padding-left: 11px; }

/**
 * Create grids with wider gutters. Extends `.grid`.
 */
.grid--wide {
  margin-left: -44px; }
  .grid--wide > .grid__item {
    padding-left: 44px; }

/*------------------------------------*    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
     * Whole
     */
.one-whole {
  width: 100%; }

/**
     * Halves
     */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%; }

/**
     * Thirds
     */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%; }

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%; }

/**
     * Quarters
     */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%; }

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%; }

/**
     * Fifths
     */
.one-fifth, .two-tenths {
  width: 20%; }

.two-fifths, .four-tenths {
  width: 40%; }

.three-fifths, .six-tenths {
  width: 60%; }

.four-fifths, .eight-tenths {
  width: 80%; }

/**
     * Sixths
     */
.one-sixth, .two-twelfths {
  width: 16.666%; }

.five-sixths, .ten-twelfths {
  width: 83.333%; }

/**
     * Eighths
     */
.one-eighth {
  width: 12.5%; }

.three-eighths {
  width: 37.5%; }

.five-eighths {
  width: 62.5%; }

.seven-eighths {
  width: 87.5%; }

/**
     * Tenths
     */
.one-tenth {
  width: 10%; }

.three-tenths {
  width: 30%; }

.seven-tenths {
  width: 70%; }

.nine-tenths {
  width: 90%; }

/**
     * Twelfths
     */
.one-twelfth {
  width: 8.333%; }

.five-twelfths {
  width: 41.666%; }

.seven-twelfths {
  width: 58.333%; }

.eleven-twelfths {
  width: 91.666%; }

/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (min-width: 620px) {
  /**
     * Whole
     */
  .small--one-whole {
    width: 100%; }
  /**
     * Halves
     */
  .small--one-half, .small--two-quarters, .small--three-sixths, .small--four-eighths, .small--five-tenths, .small--six-twelfths {
    width: 50%; }
  /**
     * Thirds
     */
  .small--one-third, .small--two-sixths, .small--four-twelfths {
    width: 33.333%; }
  .small--two-thirds, .small--four-sixths, .small--eight-twelfths {
    width: 66.666%; }
  /**
     * Quarters
     */
  .small--one-quarter, .small--two-eighths, .small--three-twelfths {
    width: 25%; }
  .small--three-quarters, .small--six-eighths, .small--nine-twelfths {
    width: 75%; }
  /**
     * Fifths
     */
  .small--one-fifth, .small--two-tenths {
    width: 20%; }
  .small--two-fifths, .small--four-tenths {
    width: 40%; }
  .small--three-fifths, .small--six-tenths {
    width: 60%; }
  .small--four-fifths, .small--eight-tenths {
    width: 80%; }
  /**
     * Sixths
     */
  .small--one-sixth, .small--two-twelfths {
    width: 16.666%; }
  .small--five-sixths, .small--ten-twelfths {
    width: 83.333%; }
  /**
     * Eighths
     */
  .small--one-eighth {
    width: 12.5%; }
  .small--three-eighths {
    width: 37.5%; }
  .small--five-eighths {
    width: 62.5%; }
  .small--seven-eighths {
    width: 87.5%; }
  /**
     * Tenths
     */
  .small--one-tenth {
    width: 10%; }
  .small--three-tenths {
    width: 30%; }
  .small--seven-tenths {
    width: 70%; }
  .small--nine-tenths {
    width: 90%; }
  /**
     * Twelfths
     */
  .small--one-twelfth {
    width: 8.333%; }
  .small--five-twelfths {
    width: 41.666%; }
  .small--seven-twelfths {
    width: 58.333%; }
  .small--eleven-twelfths {
    width: 91.666%; } }

@media only screen and (min-width: 768px) {
  /**
     * Whole
     */
  .medium--one-whole {
    width: 100%; }
  /**
     * Halves
     */
  .medium--one-half, .medium--two-quarters, .medium--three-sixths, .medium--four-eighths, .medium--five-tenths, .medium--six-twelfths {
    width: 50%; }
  /**
     * Thirds
     */
  .medium--one-third, .medium--two-sixths, .medium--four-twelfths {
    width: 33.333%; }
  .medium--two-thirds, .medium--four-sixths, .medium--eight-twelfths {
    width: 66.666%; }
  /**
     * Quarters
     */
  .medium--one-quarter, .medium--two-eighths, .medium--three-twelfths {
    width: 25%; }
  .medium--three-quarters, .medium--six-eighths, .medium--nine-twelfths {
    width: 75%; }
  /**
     * Fifths
     */
  .medium--one-fifth, .medium--two-tenths {
    width: 20%; }
  .medium--two-fifths, .medium--four-tenths {
    width: 40%; }
  .medium--three-fifths, .medium--six-tenths {
    width: 60%; }
  .medium--four-fifths, .medium--eight-tenths {
    width: 80%; }
  /**
     * Sixths
     */
  .medium--one-sixth, .medium--two-twelfths {
    width: 16.666%; }
  .medium--five-sixths, .medium--ten-twelfths {
    width: 83.333%; }
  /**
     * Eighths
     */
  .medium--one-eighth {
    width: 12.5%; }
  .medium--three-eighths {
    width: 37.5%; }
  .medium--five-eighths {
    width: 62.5%; }
  .medium--seven-eighths {
    width: 87.5%; }
  /**
     * Tenths
     */
  .medium--one-tenth {
    width: 10%; }
  .medium--three-tenths {
    width: 30%; }
  .medium--seven-tenths {
    width: 70%; }
  .medium--nine-tenths {
    width: 90%; }
  /**
     * Twelfths
     */
  .medium--one-twelfth {
    width: 8.333%; }
  .medium--five-twelfths {
    width: 41.666%; }
  .medium--seven-twelfths {
    width: 58.333%; }
  .medium--eleven-twelfths {
    width: 91.666%; } }

@media only screen and (min-width: 1024px) {
  /**
     * Whole
     */
  .large--one-whole {
    width: 100%; }
  /**
     * Halves
     */
  .large--one-half, .large--two-quarters, .large--three-sixths, .large--four-eighths, .large--five-tenths, .large--six-twelfths {
    width: 50%; }
  /**
     * Thirds
     */
  .large--one-third, .large--two-sixths, .large--four-twelfths {
    width: 33.333%; }
  .large--two-thirds, .large--four-sixths, .large--eight-twelfths {
    width: 66.666%; }
  /**
     * Quarters
     */
  .large--one-quarter, .large--two-eighths, .large--three-twelfths {
    width: 25%; }
  .large--three-quarters, .large--six-eighths, .large--nine-twelfths {
    width: 75%; }
  /**
     * Fifths
     */
  .large--one-fifth, .large--two-tenths {
    width: 20%; }
  .large--two-fifths, .large--four-tenths {
    width: 40%; }
  .large--three-fifths, .large--six-tenths {
    width: 60%; }
  .large--four-fifths, .large--eight-tenths {
    width: 80%; }
  /**
     * Sixths
     */
  .large--one-sixth, .large--two-twelfths {
    width: 16.666%; }
  .large--five-sixths, .large--ten-twelfths {
    width: 83.333%; }
  /**
     * Eighths
     */
  .large--one-eighth {
    width: 12.5%; }
  .large--three-eighths {
    width: 37.5%; }
  .large--five-eighths {
    width: 62.5%; }
  .large--seven-eighths {
    width: 87.5%; }
  /**
     * Tenths
     */
  .large--one-tenth {
    width: 10%; }
  .large--three-tenths {
    width: 30%; }
  .large--seven-tenths {
    width: 70%; }
  .large--nine-tenths {
    width: 90%; }
  /**
     * Twelfths
     */
  .large--one-twelfth {
    width: 8.333%; }
  .large--five-twelfths {
    width: 41.666%; }
  .large--seven-twelfths {
    width: 58.333%; }
  .large--eleven-twelfths {
    width: 91.666%; } }

/*------------------------------------*    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/*------------------------------------*    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
.list--unbulet {
  list-style-type: none; }

.header {
  position: relative;
  margin-bottom: 2.2%; }
  .header__caption {
    max-width: 27%;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 42%;
    transform: translate(-50%, 0); }
  .header__text {
    font-size: 1.01rem; }
  .header__image {
    float: right;
    margin-top: 3%;
    width: 22.5%;
    height: 3.78rem; }

.main {
  display: block; }
  .main__advertisement {
    text-align: center;
    margin-top: 6%; }
    .main__advertisement-image {
      width: 100%; }
    .main__advertisement-text-down {
      padding-bottom: 1%;
      margin-bottom: 1%;
      color: orangered;
      font-size: 1.95rem; }
    .main__advertisement-text-up {
      font-size: 2vw;
      padding: 10% 0px; }
  .main__menu-section {
    text-align: center;
    max-height: 76.2px; }
    .main__menu-section--blue-dark {
      background-color: #1569B4; }
      .main__menu-section--blue-dark:hover {
        background-image: url("./static/images/jhoana2.png");
        background-repeat: no-repeat;
        background-size: 46%;
        background-position: 7% 31%;
        transition: all 0.5s;
        padding: 1.65% 34.8%;
        padding-right: 0%;
        transition-timing-function: ease-out; }
    .main__menu-section--blue-light {
      background-color: #1CABE2; }
      .main__menu-section--blue-light:hover {
        background-image: url("./static/images/revistas.png");
        background-repeat: no-repeat;
        background-size: 61%;
        background-position: 101% 55%;
        padding: 0.7rem 51%;
        padding-left: 0%;
        transition: all 0.5s;
        transition-timing-function: ease-out; }
    .main__menu-section--blue-cloud {
      background-color: #0977B5; }
    .main__menu-section--blue-deep {
      background-color: #2A3076; }
  .main__menu-text {
    font-family: 'Libel-Suit';
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    padding: 4.7% 0; }
    .main__menu-text--blue-dark {
      background-color: #1569B4;
      display: inline-block;
      padding: 3.5% 6.7%;
      border-radius: 6px;
      padding-left: 4%; }
    .main__menu-text-link {
      color: #FFFFFF; }
      .main__menu-text-link:hover {
        color: #FFFFFF; }
    .main__menu-text--interviews:hover {
      background-image: url("./static/images/fotos.png");
      background-repeat: no-repeat;
      background-size: 48% 5.2rem;
      background-position: 7% 31%;
      transition: all;
      padding: 2.06% 52.8%;
      padding-right: 0%;
      transition-timing-function: ease-out;
      font-size: 1.59rem; }
    .main__menu-text--contact:hover span {
      display: none; }
    .main__menu-text--contact:hover:before {
      content: "totustuus1207@gmail.com"; }
  .main__client {
    margin-top: 10px;
    text-align: center; }
    .main__client-promo {
      display: inline-block;
      width: 48%;
      background-color: #17313B;
      padding: 11% 5%;
      color: #FFFFFF;
      line-height: 1;
      height: 13.4rem; }
      .main__client-promo-text {
        display: block;
        font-size: 1.24rem; }
      .main__client-promo-subtext {
        font-size: 0.56rem;
        display: block;
        line-height: 1.4; }
        .main__client-promo-subtext-space {
          padding: 30px;
          padding-bottom: 0;
          padding-top: 6px;
          margin-top: 5px; }
    .main__client-info {
      padding: 5% 26%;
      text-align: center;
      font-size: 1.02rem;
      line-height: 1.2;
      color: gray;
      padding-top: 12%; }
    .main__client-contact {
      background-image: url("./static/images/3.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 52%;
      height: 13.4rem;
      display: inline-block;
      vertical-align: top; }
  .main__image {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 22px; }
    .main__image--m0 {
      margin-top: 0; }

.carousel__image {
  width: 50%; }

.carousel__button-left {
  display: none; }

.about__description {
  margin-top: 1.2%; }
  .about__description-text {
    text-align: justify;
    background-color: #0776B4;
    padding-left: 4.4%;
    padding-top: 4.4%;
    padding-right: 3%;
    padding-bottom: 15%;
    font-size: 1.005rem;
    font-family: Verdana;
    color: #FFFFFF;
    line-height: 1.68;
    margin-top: 5.3%; }
  .about__description-content {
    margin-bottom: 0; }
  .about__description-image {
    background-image: url("./static/images/5.png");
    background-repeat: no-repeat;
    height: 6.99rem;
    background-size: contain;
    margin-top: 15px; }

.about__presentation {
  margin-left: 25px; }
  .about__presentation-text {
    width: 70%;
    display: inline-block;
    font-family: Verdana;
    margin-top: 7%;
    font-size: 0.94rem;
    text-align: justify;
    line-height: 1.6; }
    .about__presentation-text-first {
      margin-bottom: 0; }

.about__profile {
  width: 30%;
  display: inline-block;
  position: relative;
  top: -50px; }
  .about__profile-image {
    width: 63%; }
  .about__profile-name {
    position: absolute;
    left: 41%;
    top: 69%;
    background-color: #1569B4;
    color: #FFFFFF;
    border-radius: 7px;
    font-family: 'Libel-Suit';
    font-size: 1.24rem;
    padding: 3.6% 9.5%; }

.about__image {
  background-image: url("./static/images/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 16.7rem;
  margin-top: 2.57%;
  margin-left: 3.5%;
  width: 97%; }

.edition__left {
  padding-left: 110px; }
  .edition__left-title {
    background-color: #1569B4;
    display: inline-block;
    border-radius: 7px; }
    .edition__left-title h2 {
      font-family: 'Libel-Suit';
      color: #FFFFFF;
      padding-left: 11.7%;
      padding-right: 8.55rem;
      margin-bottom: 7%;
      margin-top: 7%;
      font-size: 1.88rem; }
  .edition__left-description {
    margin-top: 8.8%;
    background-color: #1CABE2;
    width: 94%;
    padding-bottom: 4%;
    border-radius: 7px; }
    .edition__left-description-image {
      width: 90%;
      margin-left: 5.3%;
      margin-top: 14%;
      margin-bottom: 10.6%; }
    .edition__left-description-text {
      font-family: 'Libel-Suit';
      color: #FFFFFF;
      display: block;
      text-align: center;
      font-size: 1.73rem;
      line-height: 1.2; }

.edition__gallery {
  margin-left: -25px;
  margin-right: 30px; }
  .edition__gallery-image {
    width: 80%;
    display: block;
    margin: auto; }
  .edition__gallery-text {
    display: block;
    text-align: center;
    font-family: Verdana;
    color: #6c6d70;
    font-size: 0.91rem; }
  .edition__gallery-container {
    margin-bottom: 20px;
    width: 32%; }

.edition__advertisement {
  width: 79%;
  color: #FFFFFF; }
  .edition__advertisement-right {
    width: 100%; }
  .edition__advertisement-description {
    background-color: #2f879f;
    margin-top: 10%;
    letter-spacing: 0.14vw;
    font-family: verdana;
    text-align: center;
    padding-top: 47%;
    padding-bottom: 47%; }
    .edition__advertisement-description-right {
      margin-top: 0;
      background-color: #555555; }
  .edition__advertisement-image {
    background-image: url("./static/images/cellphone.jpeg");
    background-size: cover;
    height: 13.8rem;
    background-repeat: no-repeat; }
  .edition__advertisement-text {
    font-size: 1.279rem;
    display: block; }
  .edition__advertisement-subtext {
    font-size: 0.64rem;
    display: block; }

.edition__pdf {
  text-align: center; }

.social {
  margin-top: 2.2%;
  display: inline-block;
  width: 44.6%; }
  .social--footer {
    display: block;
    text-align: center;
    margin: auto;
    width: 52%;
    margin-top: 1.5%; }
  .social__icon {
    display: inline-block;
    margin: 2% 2%;
    height: 4rem;
    width: 4rem; }

.interview__container {
  margin-top: 4%; }

.interview__main-image {
  width: 99%; }

.interview__main-container {
  margin-top: 0.3%; }

.interview__main-title {
  color: #FFFFFF;
  font-family: 'Libel-Suit';
  padding: 1.5% 2%;
  background-color: #1569B4;
  display: inline-block;
  border-radius: 7px;
  margin-top: 0;
  font-size: 1.878rem; }
  .interview__main-title--first {
    margin-bottom: 3%;
    font-size: 2.5rem;
    padding: 1% 9%;
    padding-left: 2%;
    margin-top: 3%; }
  .interview__main-title--second {
    margin-bottom: 4.5%;
    font-size: 2.5rem;
    padding: 1% 17%;
    padding-left: 2%;
    margin-top: 3%; }
  .interview__main-title--third {
    margin-bottom: 5%;
    font-size: 2.5rem;
    padding: 0.8% 7%;
    padding-left: 2%;
    margin-top: 3%; }
  .interview__main-title-head {
    font-size: 2.4rem;
    padding: 1.2% 2%;
    margin-top: 1.6%;
    margin-bottom: 1.6%; }
    .interview__main-title-head--second {
      font-size: 2.26rem;
      padding: 0.7rem 1.68rem; }
    .interview__main-title-head--third {
      padding: 0.75rem 3.58rem; }
    .interview__main-title-head--fourth {
      padding: 1.2% 7.4%;
      margin-bottom: 2.2%; }
    .interview__main-title-head--fifth {
      display: inline-block;
      margin-left: 0px;
      width: 25%;
      text-align: center;
      font-size: 1.39rem;
      margin-top: 2.2%;
      padding: 1% 3.2%; }
    .interview__main-title-head--sixth {
      margin-bottom: 1.1%;
      padding: 1.2% 11.5%; }
    .interview__main-title-head--seventh {
      padding-left: 2.7%;
      padding-right: 5.5%;
      margin-bottom: 2.4%; }
    .interview__main-title-head--nineth {
      padding-right: 3%;
      font-size: 2.26rem;
      margin-bottom: 2.7%; }
    .interview__main-title-head--tenth {
      padding-left: 1%;
      padding-right: 2.4%;
      margin-bottom: 2%; }
    .interview__main-title-head--eleventh {
      padding-left: 1%;
      padding-right: 2.4%;
      margin-bottom: 2%;
      font-size: 1.87rem; }
    .interview__main-title-head--twelfth {
      padding-right: 3.9%;
      margin-bottom: 1.4%;
      font-size: 2.33rem; }
    .interview__main-title-head--fourteenth {
      font-size: 1.88rem;
      padding: 1.4% 2.2%;
      margin-top: 1.6%;
      margin-bottom: 2.3%; }
    .interview__main-title-head--fifteenth {
      font-size: 1.835rem;
      padding: 1.2% 3.2%;
      margin-top: 1.6%;
      margin-bottom: 1.5%;
      padding-left: 1%; }
    .interview__main-title-head--sixteenth {
      padding-right: 3.7%;
      font-size: 2.26rem;
      margin-bottom: 2.0%; }
    .interview__main-title-head--seventeenth {
      font-size: 1.878rem;
      padding: 1.7% 2.2%; }
    .interview__main-title-head--eighteenth {
      font-size: 1.82rem;
      padding: 1.8% 3.8%;
      margin-bottom: 5.3%;
      padding-left: 2.1%;
      padding-top: 1.5%; }

.interview__main-subtitle {
  font-family: 'Libel-Suit';
  color: #1569B4;
  display: block;
  margin-top: 0.4%;
  margin-bottom: 1%; }

.interview__gallery-profile {
  margin-bottom: 4%;
  color: #6c6d70;
  position: relative; }

.interview__gallery-image {
  width: 30%; }

.interview__gallery-text {
  display: block;
  position: absolute;
  top: 45%;
  left: 34.5%;
  font-size: 1.71rem;
  font-family: Verdana; }
  .interview__gallery-text--one {
    top: 37%; }
  .interview__gallery-text--two {
    top: 49%; }
  .interview__gallery-text--three {
    top: 62%; }
  .interview__gallery-text--expand {
    top: 35%; }
  .interview__gallery-text--retract {
    top: 43%; }
    .interview__gallery-text--retract-two {
      top: 46%; }

.interview__posdata {
  font-size: 2.1rem;
  font-family: Verdana;
  font-weight: bold;
  color: #1569B4;
  margin-top: 0; }
  .interview__posdata-text {
    text-align: justify;
    font-family: Verdana;
    font-weight: bold;
    color: #1569B4;
    padding-right: 6%;
    font-size: 1.1rem;
    margin-bottom: 0; }

.interview__question-text {
  color: #1569B4;
  font-size: 1.14rem;
  font-family: Verdana;
  text-align: justify;
  display: block; }

.interview__question-answer {
  color: #6c6d70;
  font-family: Verdana;
  font-size: 1rem;
  text-align: justify;
  padding-right: 0.5rem; }
  .interview__question-answer-space {
    margin-bottom: 0; }
    .interview__question-answer-space--preview {
      font-weight: bold;
      font-size: 1.096rem;
      font-family: Verdana;
      color: #1569B4; }
  .interview__question-answer-container {
    margin-top: 7.4%;
    margin-bottom: 2.5%; }

.interview__question-space {
  margin-top: 1%;
  margin-bottom: 1%; }
  .interview__question-space--right {
    padding-right: 6%; }
  .interview__question-space-profile {
    margin-top: 5.6%; }
    .interview__question-space-profile--nine {
      margin-top: 7%; }
    .interview__question-space-profile--twelve {
      margin-top: 9.4%; }
  .interview__question-space-paragraph {
    margin-top: 3.2%;
    margin-left: 0; }
  .interview__question-space--seventeenth {
    display: inline-block;
    width: 65%;
    margin-top: 2%; }

.interview__question--seventeen {
  margin-bottom: 24px; }

.interview-menu__tag {
  font-size: 1.96rem;
  padding: 1.2% 0.8%;
  display: block;
  text-align: center;
  width: 32.5%;
  margin: auto;
  margin-bottom: 6%; }

.interview-one__first-image {
  width: 100%;
  height: 31rem; }

.interview-one__fifth-image {
  width: 32.1%;
  float: left;
  margin-right: 2.3%;
  margin-bottom: 1%; }

.interview-one__sixth-image {
  float: right;
  width: 46%;
  margin-left: 2.3%;
  padding-top: 1.1%; }

.interview-one__tag {
  position: absolute;
  left: 26.5%;
  top: 7rem;
  font-size: 1.3rem;
  padding: 0.5% 0.8%; }

.interview-one__profile {
  display: inline-block;
  width: 37%; }

.interview-one__questions {
  width: 61%;
  float: right;
  margin-top: 7%;
  margin-left: 7px;
  text-align: justify;
  padding-right: 0.2rem; }

.interview-one__photos {
  margin-bottom: 2.4%; }

.interview-one__photo {
  width: 29%;
  margin-right: 1.4%; }
  .interview-one__photo-one {
    width: 29.12%; }
  .interview-one__photo-two {
    width: 29%; }
  .interview-one__photo-three {
    width: 36.7%; }

.interview-one__container-info {
  margin-top: 0.6%; }

.interview-two__first-image {
  float: right;
  width: 54.6%;
  margin-left: 2.6%;
  padding-right: 0.9%; }

.interview-two__profile {
  position: relative; }

.interview-two__tag {
  position: absolute;
  font-size: 1.3rem;
  padding: 0.43rem 1rem;
  left: 21rem;
  top: 0.5rem; }

.interview-three__first-image {
  float: left;
  width: 48.5%;
  margin-right: 2.3%;
  padding-top: 0.9%; }

.interview-four__first-image {
  width: 48%;
  float: left;
  margin-right: 2.7%; }

.interview-four__web {
  display: block;
  text-align: center;
  font-size: 1.1rem;
  font-family: Verdana;
  font-weight: bold;
  color: #1569B4; }
  .interview-four__web:hover {
    color: #1569B4; }

.interview-five__profile {
  position: relative; }
  .interview-five__profile-space {
    padding-right: 6%; }

.interview-five__tag {
  position: absolute;
  font-size: 1.35rem;
  padding: 0.8% 1.3%;
  top: 12%;
  right: 35%;
  padding-top: 0.6%;
  padding-right: 1%; }

.interview-five__first-image {
  float: right;
  width: 40%;
  margin-left: 5.1%;
  margin-bottom: 1.9%;
  margin-top: 2.4%; }

.interview-six__first-image {
  float: left;
  width: 59%;
  margin-right: 2.2%; }

.interview-six__profile {
  position: relative; }
  .interview-six__profile-space {
    margin-top: 8%; }

.interview-six__tag {
  position: absolute;
  font-size: 1.27rem;
  right: 33.5%;
  top: 1.37rem;
  padding: 0.8% 1.6%; }

.interview-seven__profile {
  position: relative; }

.interview-seven__first-image {
  float: left;
  width: 30.9%;
  margin-right: 1.7%; }

.interview-seven__second-image {
  width: 95%;
  height: 36rem;
  margin-left: 4.1%; }
  .interview-seven__second-image-container {
    float: right;
    width: 51%; }

.interview-seven__third-image {
  float: left;
  width: 32%;
  margin-right: 1%; }

.interview-seven__fourth-image {
  float: right;
  width: 65%;
  margin-left: 2.4%; }

.interview-seven__tag {
  position: absolute;
  padding: 0.7% 3.8%;
  font-size: 1.3rem;
  left: 29%;
  top: 0.8rem; }

.interview-eigth__profile {
  position: relative; }

.interview-eigth__first-image {
  float: left;
  width: 47%;
  margin-right: 1.5%; }

.interview-eigth__tag {
  position: absolute;
  padding: 0.8% 0.9%;
  font-size: 1.3rem;
  left: 40.5%;
  top: 0.5rem;
  padding-right: 0.34rem; }

.interview-nine__profile {
  position: relative; }

.interview-nine__first-image {
  float: left;
  width: 50.6%;
  margin-right: 1.8%; }

.interview-nine__second-image {
  float: right;
  width: 55%;
  margin-left: 2.4%; }

.interview-nine__tag {
  position: absolute;
  padding: 0.6% 3.6%;
  font-size: 1.34rem;
  left: 40%;
  top: 0.4rem;
  padding-left: 4.6%; }

.interview-ten__first-image {
  float: left;
  width: 98%;
  margin-bottom: 2.4%; }

.interview-ten__tag {
  position: absolute;
  padding: 0.6% 2.2%;
  font-size: 1.32rem;
  right: 3.2%;
  top: 15.8rem; }

.interview-ten__profile {
  position: relative; }

.interview-eleven__first-image {
  float: right;
  width: 93%;
  margin-bottom: 2.1%;
  margin-left: 4%;
  padding-right: 1.7%;
  padding-left: 3%; }

.interview-eleven__second-image {
  float: left;
  width: 41%;
  margin-right: 2.9%; }

.interview-eleven__third-image {
  width: 93%;
  margin-left: 2.6%; }
  .interview-eleven__third-image-container {
    margin-left: 1.1%;
    float: right;
    width: 48.4%; }

.interview-eleven__tag {
  position: absolute;
  padding: 0.6% 1.8%;
  font-size: 1.3rem;
  left: -0.8%;
  top: 12rem;
  padding-right: 1.4%; }

.interview-eleven__profile {
  position: relative; }

.interview-twelve__first-image {
  float: left;
  width: 61%;
  margin-right: 1.5%; }

.interview-twelve__tag {
  position: absolute;
  padding: 0.6% 2.2%;
  font-size: 1.3rem;
  right: 19.7%;
  top: 1.7rem; }

.interview-twelve__profile {
  position: relative; }

.interview-thirteen__first-image {
  float: left;
  width: 63%;
  margin-right: 1.5%; }

.interview-thirteen__second-image {
  float: left;
  width: 47%;
  margin-right: 2%; }

.interview-thirteen__third-image {
  float: right;
  width: 43%;
  margin-left: 2%; }

.interview-thirteen__fourth-image {
  float: left;
  width: 50%;
  margin-right: 1.4%; }

.interview-thirteen__tag {
  position: absolute;
  bottom: -3.2%;
  left: 2%;
  padding: 0.7% 4%;
  font-size: 1.3rem; }
  .interview-thirteen__tag-right {
    position: absolute;
    top: 5%;
    right: 29.9%;
    padding: 0.7% 4%;
    font-size: 1.3rem; }
  .interview-thirteen__tag-left {
    position: absolute;
    top: 15.6%;
    left: 32%;
    padding: 0.7% 4%;
    font-size: 1.3rem; }

.interview-thirteen__profile {
  position: relative; }

.interview-fourteen__first-image {
  float: right;
  width: 59%;
  margin-right: 1.5%;
  margin-left: 2.1%; }

.interview-fourteen__second-image {
  float: left;
  width: 52%;
  margin-right: 2.7%; }

.interview-fourteen__tag {
  position: absolute;
  bottom: -5.2rem;
  left: 27.2%;
  padding: 0.7% 2.1%;
  font-size: 1.34rem;
  padding-right: 1.3%; }

.interview-fourteen__profile {
  position: relative; }
  .interview-fourteen__profile-space {
    margin-top: 6rem; }

.interview-fifteen__first-image {
  float: left;
  width: 47%;
  margin-right: 1.5%; }

.interview-fifteen__tag {
  position: absolute;
  bottom: -35rem;
  left: 24%;
  padding: 0.7% 2.1%;
  font-size: 1.32rem;
  padding-right: 1.3%; }

.interview-fifteen__profile {
  position: relative; }

.interview-sixteen__first-image {
  float: left;
  width: 45%;
  margin-right: 1.7%; }

.interview-sixteen__second-image {
  float: left;
  width: 51.5%;
  margin-right: 2.3%; }

.interview-sixteen__tag {
  position: absolute;
  bottom: -4.3rem;
  left: 36%;
  padding: 0.7% 2.4%;
  font-size: 1.33rem;
  padding-right: 1.3%; }

.interview-sixteen__profile {
  position: relative; }

.interview-seventeen__first-image {
  float: left;
  width: 61.5%;
  margin-right: 1.9%; }

.interview-seventeen__other-images {
  width: 97%;
  display: block;
  margin-top: 5.8%; }

.interview-seventeen__tag {
  position: absolute;
  bottom: -70px;
  left: 248px;
  padding: 7px 21px;
  font-size: 21px;
  padding-right: 13px; }

.interview-seventeen__profile {
  position: relative; }

.interview-seventeen__container-images {
  width: 34%;
  float: right;
  margin-top: 1.1%; }

.interview-eighteen__first-image {
  float: left;
  width: 52%;
  margin-right: 1.9%; }

.interview-eighteen__tag {
  position: absolute;
  top: 0.42rem;
  left: 48%;
  padding: 0.7% 1.4%;
  font-size: 1.326rem;
  padding-right: 0.6%; }

.interview-eighteen__profile {
  position: relative; }

.interview__menu {
  padding-right: 3.2%;
  padding-left: 3.2%; }
  .interview__menu-section {
    text-align: center; }
    .interview__menu-section--blue-dark {
      background-color: #1569B4;
      margin-top: 5%; }
      .interview__menu-section--blue-dark:hover {
        background-color: #104e86; }
    .interview__menu-section--blue-light {
      background-color: #1CABE2; }
      .interview__menu-section--blue-light:hover {
        background-color: #1689b5; }
    .interview__menu-section--blue-cloud {
      background-color: #0977B5; }
      .interview__menu-section--blue-cloud:hover {
        background-color: #075784; }
    .interview__menu-section--blue-deep {
      background-color: #2A3076; }
      .interview__menu-section--blue-deep:hover {
        background-color: #1d2150; }
  .interview__menu-text {
    font-family: 'Libel-Suit';
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    padding: 4.7% 0;
    font-size: 2.53rem; }
    .interview__menu-text--blue-dark {
      background-color: #1569B4;
      display: inline-block;
      padding: 3.5% 6.7%;
      border-radius: 6px;
      padding-left: 4%; }
    .interview__menu-text-link {
      color: #FFFFFF; }
      .interview__menu-text-link:hover {
        color: #FFFFFF; }

.advertisement__image {
  background-image: url("./static/images/cellphone.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 231px;
  margin-top: 5%; }
  .advertisement__image-second {
    background-image: url("./static/images/3.jpeg");
    height: 16vw;
    margin-top: 0px; }
  .advertisement__image--alternative {
    margin-top: 0; }

.advertisement__description {
  background-color: #555555;
  letter-spacing: 0.129rem;
  font-family: verdana;
  text-align: center;
  padding-top: 28%;
  padding-bottom: 37.6%;
  color: #FFFFFF; }
  .advertisement__description-second {
    background-color: #2f879f;
    margin-top: 23px; }

.advertisement__text {
  font-size: 1.24rem;
  display: block; }

.advertisement__subtext {
  font-size: 0.62rem;
  display: block; }

.advertisement__secondary {
  display: block;
  font-family: Verdana;
  text-align: center; }
  .advertisement__secondary-container {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 19.5%;
    text-align: center; }
  .advertisement__secondary-main {
    font-size: 1.1rem;
    font-weight: 900;
    padding: 0 0.7rem;
    color: #2f879f; }
  .advertisement__secondary-sub {
    margin-top: 11.7%;
    font-weight: bold;
    font-size: 0.87rem;
    padding: 0px 2.1%;
    color: #6c6d70; }
  .advertisement__secondary-last {
    color: #6c6d70;
    line-height: 1.7;
    font-size: 0.88rem; }
    .advertisement__secondary-last-container {
      margin-top: 12.7%; }
  .advertisement__secondary-image {
    margin-top: 17%;
    width: 74%; }

.carousel {
  position: relative;
  /*&__dots {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.3);
      margin: 0 5px;
      cursor: pointer;
      &.is-active {
          background-color: orangered;
      }
  }*/ }
  .carousel__image {
    width: 100%; }
  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer; }
    .carousel__button--left {
      left: 10px; }
    .carousel__button--right {
      right: 10px; }
  .carousel__buttons {
    position: absolute;
    top: 77%;
    right: 50%;
    transform: translate(50%); }

.vertical-center--inline:before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-left: -4px;
  vertical-align: middle; }

.vertical-align--middle {
  vertical-align: middle; }

.vertical-align--bottom {
  vertical-align: bottom; }

.vertical-align--top {
  vertical-align: top; }

.full-width {
  width: 100%; }

@media only screen and (max-width: 767px) {
  .small--full-width {
    width: 100%; } }

.muted {
  opacity: 0.5;
  filter: "alpha(opacity=50)"; }

.overflow-x {
  overflow-x: auto; }

.relative {
  position: relative; }

.base-text {
  font-size: 16px; }

.text--larger {
  font-size: 23px;
  font-size: 1.4375rem; }

.text--large {
  font-size: 1.0625em; }

.text--small,
.text--small,
.small-text {
  font-size: 0.875em; }

.text--smaller {
  font-size: 0.75em; }

.text-start,
.text--start {
  text-align: left; }

.text--end {
  text-align: right; }

.text--center,
.text-center {
  text-align: center; }

.medium--text-center {
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .medium--text-center {
      text-align: inherit; } }

@media only screen and (min-width: 620px) {
  .small--text-start {
    text-align: left; } }

@media only screen and (min-width: 620px) {
  .small--text-end {
    text-align: right; } }

@media only screen and (min-width: 768px) {
  .medium--text-start {
    text-align: left; } }

@media only screen and (min-width: 768px) {
  .medium--text-end {
    text-align: right; } }

@media only screen and (max-width: 767px) {
  .large--only {
    display: none; } }

@media only screen and (min-width: 768px) {
  .small--only {
    display: none; } }

.line-height--large {
  line-height: 1.6; }

.line-height--small {
  line-height: 1.33; }

.Amaranth {
  font-family: "Amaranth", Times New Roman, Times, serif; }

.weight--light {
  font-weight: 300; }

.face-regular,
.regular,
.weight--normal {
  font-weight: 400; }

.face-semi,
.semibold,
.weight--semibold {
  font-weight: 600; }

.face-bold,
.bold,
.weight--bold {
  font-weight: 700; }

.style--normal {
  font-style: normal; }

.border--none {
  border: 0; }

.word-break {
  word-break: break-all;
  word-wrap: break-word; }

.capitalize {
  text-transform: capitalize; }

.underline {
  text-decoration: underline; }
  .underline:hover {
    text-decoration: underline; }

.display-none {
  display: none; }

.display-inline {
  display: inline; }

.display-inline-block,
.inline-block {
  display: inline-block; }

.display-block,
.block {
  display: block; }

.hidden {
  display: none; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.no-space {
  font-size: 0; }

.float--start {
  float: left; }

.float--end {
  float: right; }

.float--none {
  float: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.float--clear {
  clear: both; }

.clear-left {
  clear: left; }

@media only screen and (min-width: 620px) {
  .small--float-start {
    float: left; } }

@media only screen and (min-width: 620px) {
  .small--float-end {
    float: right; } }

@media only screen and (min-width: 768px) {
  .medium--float-start {
    float: left; } }

@media only screen and (min-width: 768px) {
  .medium--float-end {
    float: right; } }

.push {
  margin: 22px; }

.push--top {
  margin-top: 22px; }

.push--right {
  margin-right: 22px; }

.push--bottom {
  margin-bottom: 22px; }

.push--left {
  margin-left: 22px; }

.push--ends {
  margin-top: 22px;
  margin-bottom: 22px; }

.push--sides {
  margin-right: 22px;
  margin-left: 22px; }

.push-half {
  margin: 11px; }

.push-half--top {
  margin-top: 11px; }

.push-half--right {
  margin-right: 11px; }

.push-half--bottom {
  margin-bottom: 11px; }

.push-half--left {
  margin-left: 11px; }

.push-half--ends {
  margin-top: 11px;
  margin-bottom: 11px; }

.push-half--sides {
  margin-right: 11px;
  margin-left: 11px; }

.flush {
  margin: 0; }

.flush--top {
  margin-top: 0; }

.flush--right {
  margin-right: 0; }

.flush--bottom {
  margin-bottom: 0; }

.flush--left {
  margin-left: 0; }

.flush--ends {
  margin-top: 0;
  margin-bottom: 0; }

.flush--sides {
  margin-right: 0;
  margin-left: 0; }

.push-quarter--bottom {
  margin-bottom: 5.5px; }

.soft {
  padding: 22px; }

.soft--top {
  padding-top: 22px; }

.soft--right {
  padding-right: 22px; }

.soft--bottom {
  padding-bottom: 22px; }

.soft--left {
  padding-left: 22px; }

.soft--ends {
  padding-top: 22px;
  padding-bottom: 22px; }

.soft--sides {
  padding-right: 22px;
  padding-left: 22px; }

.soft-half {
  padding: 11px; }

.soft-half--top {
  padding-top: 11px; }

.soft-half--right {
  padding-right: 11px; }

.soft-half--bottom {
  padding-bottom: 11px; }

.soft-half--left {
  padding-left: 11px; }

.soft-half--ends {
  padding-top: 11px;
  padding-bottom: 11px; }

.soft-half--sides {
  padding-right: 11px;
  padding-left: 11px; }

.hard {
  padding: 0; }

.hard--top {
  padding-top: 0; }

.hard--right {
  padding-right: 0; }

.hard--bottom {
  padding-bottom: 0; }

.hard--left {
  padding-left: 0; }

.hard--ends {
  padding-top: 0;
  padding-bottom: 0; }

.hard--sides {
  padding-right: 0;
  padding-left: 0; }

a {
  color: #6c6d70;
}

a.white {
  color: white;
}